:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.meta{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body.no-cursor {
  cursor: none;
}

div.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #646cff;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s;
}

.modal {

    position: fixed; /* Fija la posición en la pantalla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el modal */
    text-align: center;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 20px;
    padding: 10px;

  
}

.modal-text{
  background: transparent;
  height:   200px;
  width:  200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 400px) {
  .meta {
    font-size: 16px;
    padding: 0.4em 0.8em;
  }

  #maze {
    grid-template-columns: repeat(11, 30px);
    gap: 1px;
  }

  #maze div {
    width: 30px;
    height: 30px;
  }

  body {
    touch-action: none;
    user-select: none;
  }
}
